#graph {
	width: 100%;
	height: 80%;
	border-bottom: 3px solid #e2e2e2;
}

#stocks {
	width: 50%;
	border-right: 4px solid gray;
	display: block;
	float: left;
}

.nope {
	width: 100%;
	height: 100%;
}

.stock_info {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 60%;
	height:20%;
	padding: 10px;
	overflow: hidden;
	border: none;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 1px 2px;
	font: normal 28px/1 "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: #e9e9e9;
	-webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
	box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.3) ;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.2) ;
	margin-left: 0%;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 17px solid transparent;
	border-right: 17px solid transparent;

	border-bottom: 20px solid #77d138;

	display: inline-flex;

	transform: translate(-5px, -20px);
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #ef6969;

	display: inline-flex;

	padding-top: 0px;
}

.stuff {
	padding: 15px;
	display: inline-flex;
}

.price_text {
	display: block;
}

.red_text {
	color: red;
}

.green_text {
	color: green;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}